@font-face {
    font-family: 'Nunito';
    src: url('fontes/nunito.woff2') format('woff2'),
         url('fontes/nunito.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F8FFAE;
  background: -webkit-linear-gradient(-65deg, #43C6AC, #F8FFAE);
  background: linear-gradient(-65deg, #43C6AC, #F8FFAE);
  -webkit-font-smoothing: antialiased;
}

svg, img {
  display: block;
}