.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.player-container .gitlab {
    width: 100%;
    max-width: 300px;
    margin: 24px 0 0 0;
    color: #55606E;
    /*word-break: break-word;*/
}

.audio.stream-player {
    width: 100%;
    /*max-width: 300px;*/
    /*height: 56px;*/
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
    /* #2E3440 #3B4252 #434C5E #4C566A */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio.stream-player .controls .titulo {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio.stream-player .play-pause-btn {
    display: none;
    cursor: pointer;
}

.audio.stream-player .spinner {
    width: 18px;
    height: 18px;
    background-image: url('loading.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
}

.audio.stream-player .slider {
    flex-grow: 1;
    background-color: #D8D8D8;
    cursor: pointer;
    position: relative;
}

.audio.stream-player .slider .progress {
    background-color: #44BFA3;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}

.audio.stream-player .slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #44BFA3;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}

.audio.stream-player .controls {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #55606E;
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    max-width: 160px;
    width: 100%;
}

.audio.stream-player .controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
}

/*.audio.stream-player .controls .slider .progress {*/
    /*width: 0;*/
    /*height: 100%;*/
/*}*/

.audio.stream-player .controls .slider .progress .pin {
  right: -8px;
  top: -6px;
}

.audio.stream-player .controls span {
  cursor: default;
}

.audio.stream-player .volume {
  position: relative;
}

.audio.stream-player .volume .volume-btn {
  cursor: pointer;
}

.audio.stream-player .volume .volume-btn.open path {
    fill: #44BFA3;
}

.audio.stream-player .volume .volume-controls {
    width: 30px;
    height: 135px;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 7px;
    position: absolute;
    left: -3px;
    bottom: 52px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.audio.stream-player .volume .volume-controls.hidden {
    display: none;
}

.audio.stream-player .volume .volume-controls .slider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 6px;
    border-radius: 3px;
}

.audio.stream-player .volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    width: 6px;
}

.audio.stream-player .volume .volume-controls .slider .progress .pin {
    left: -5px;
    top: -8px;
}

#titulo {
  opacity: 1;
  transition: opacity 1s; 
}

#titulo.fade {
  opacity: 0;
}

svg, img {
    display: block;
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(1turn);
    }
}
