@import url('switch.css');

@font-face {
    font-family: 'Nunito';
    src: url('fontes/nunito.woff2') format('woff2'),
         url('fontes/nunito.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height: 100%;
}

body {
    font-family: 'Nunito';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DARK #16BFFD #CB3066 */
    /* LIGHT #43C6AC #F8FFAE */
    background: -webkit-linear-gradient(-65deg, #16BFFD, #CB3066);
    background: linear-gradient(-65deg, #16BFFD, #CB3066);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #000;
}