@font-face {
    font-family: 'Nunito';
    src: url('fontes/nunito.woff2') format('woff2'),
         url('fontes/nunito.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nunito';
    margin: 0;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /* DARK #16BFFD #CB3066 */
    /* LIGHT #43C6AC #F8FFAE */
    background: -webkit-linear-gradient(-65deg, #16BFFD, #CB3066);
    background: linear-gradient(-65deg, #16BFFD, #CB3066);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.audio.stream-player {
    width: 100%;
    max-width: 300px;
    margin: 0;

    width: 100%;
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #2E3440;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio.stream-player .controls .titulo {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio.stream-player .play-pause-btn {
    display: none;
    cursor: pointer;
}

.audio.stream-player .spinner {
    width: 18px;
    height: 18px;
    background-image: url('loading.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
}

.audio.stream-player .slider {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    background-color: #D8D8D8;
}


.audio.stream-player .slider .progress {
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
    background-color: #44BFA3;
}

.audio.stream-player .slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
    background-color: #44BFA3;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}

.audio.stream-player .controls {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 160px;
    width: 100%;
    color: #D8DEE9;
}

.audio.stream-player .controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
}

.audio.stream-player .controls .slider .progress {
    width: 0;
    height: 100%;
}

.audio.stream-player .controls .slider .progress .pin {
  right: -8px;
  top: -6px;
}

.audio.stream-player .controls span {
  cursor: default;
}

.audio.stream-player .volume {
  position: relative;
}

.audio.stream-player .volume .volume-btn {
  cursor: pointer;
}

.audio.stream-player .volume .volume-controls {
    width: 30px;
    height: 135px;
    border-radius: 7px;
    position: absolute;
    left: -3px;
    bottom: 52px;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.62);
}

.audio.stream-player .volume .volume-controls.hidden {
    display: none;
}

.audio.stream-player .volume .volume-controls .slider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 6px;
    border-radius: 3px;
}

.audio.stream-player .volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    width: 6px;
}

.audio.stream-player .volume .volume-controls .slider .progress .pin {
    left: -5px;
    top: -8px;
}

.audio.stream-player .volume .volume-btn.open path {
    fill: #44BFA3;
}

.volume-icon, .play-pause-icon {
    fill: #D8DEE9;
}

svg, img {
    display: block;
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(1turn);
    }
}